*{
    margin:0;
}

.hidden{
    display: none;
}

#wrap{
    
    position: relative;
    margin: 100px;
}

#greeting{
    position: absolute;
    left: 50%;
    top: 65%;
    transform:translate(-50%, 50%);
}

#clock{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, 50%);
}

#todo-form{
    position: absolute;
    left: 50%;
    top: 180%;
    transform:translate(-50%, 50%);
}



#quote{
    position: absolute;
}

#weather{
    position: absolute;
}


.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  height: 969px;
  width: 1920px;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
